$H1_FSIZE: 4em;
$LIGHT_TEXT: #d1d1d1;
$DARK_TEXT: rgb(46 46 46);
$BG_LIGHT: #d1d1d1;
$BG_DARK: rgb(46 46 46);
$BG_MID: #9b9b9b;
$ACTIVE_BTN_TEXT: rgb(182 178 178);
$ACTIVE_BTN_BG: gray;
$POPUP_COLOR: rgb(0 0 0 / 76.7%);
$MODAL_COLOR: #0e0e0e;
$MODAL_BORDER: #5f5151;